name: Generate SDK and commit

on:
  # execute on demand
  workflow_dispatch:
  repository_dispatch:
    types:
      - banking-release-updated
permissions:
  contents: write
jobs:
  insert-and-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Set up Node.js
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: '20'

    - name: Set up Java
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
      with:
        distribution: 'temurin' 
        java-version: '17'     
  
    - name: Install dependencies
      run: npm install --include=dev

    - name: Run command to insert files
      run: |
        npm run remove-sdk
        curl -o public.yml "https://apidocs-narmi.s3.amazonaws.com/public/${{ github.event.client_payload.filename }}"
        npm run generate-sdk
        npm run remove-schema

    - name: Commit changes
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        npm run git-add-sdk
        git commit -am "Build triggered by ${{ github.actor }} on $(date +"%Y-%m-%d %H:%M:%S")"
        git tag ${{ github.event.client_payload.api_version }}
        git push origin ${{ github.event.client_payload.api_version }}
    - name: Create Release
      id: create_release
      uses: comnoco/create-release-action@7dea6dc82ac9d97ced7a764aa82811451bba80e0 # v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.client_payload.api_version }}
        release_name: Release ${{ github.event.client_payload.api_version }}
        body: |
          Build for ${{ github.event.client_payload.api_version }}
        draft: false
        prerelease: false
