name: Build Sanity Check

on:
  pull_request:
permissions:
  contents: read
jobs:
  client-generation-sanity-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Set up Node.js
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: '20'

    - name: Set up Java
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install dependencies
      run: npm install --include=dev

    - name: Test schema generation
      # will fail when dependency, repo, or schema changes break schema generation
      run: |
        npm run remove-sdk
        curl -o public.yml "https://apidocs-narmi.s3.amazonaws.com/public/public-main.yml"
        npm run generate-sdk
        npm run remove-schema

    - name: Build App
      run: npm run build || true # build usually completes with some errors

    - name: Run Unit Tests
      run: npm test
